@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner{
	position: absolute;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
 * {
	 box-sizing: border-box;
	 margin: 0;
}
 html, body {
	 margin: 0;
	 background: black;
	 font-family: "Montserrat", helvetica, arial, sans-serif;
	 font-size: 14px;
	 font-weight: 400;
}
 .movie_card {
	 position: relative;
	 display: block;
	 width: 800px;
	 height: 350px;
	 margin: 100px auto;
	 overflow: hidden;
	 border-radius: 10px;
	 transition: all 0.4s;
}
 .movie_card:hover {
	 transform: scale(1.02);
	 transition: all 0.4s;
}
 .movie_card .info_section {
	 position: relative;
	 width: 100%;
	 height: 100%;
	 background-blend-mode: multiply;
	 z-index: 2;
	 border-radius: 10px;
}
 .movie_card .info_section .movie_header {
	 position: relative;
	 padding: 25px;
	 height: 40%;
}
 .movie_card .info_section .movie_header h1 {
	 color: #fff;
	 font-weight: 400;
}
 .movie_card .info_section .movie_header h4 {
	 color: #9ac7fa;
	 font-weight: 400;
}
 .movie_card .info_section .movie_header .minutes {
	 display: inline-block;
	 margin-top: 10px;
	 color: #fff;
	 padding: 5px;
	 border-radius: 5px;
	 border: 1px solid rgba(255, 255, 255, 0.13);
}
 .movie_card .info_section .movie_header .type {
	 display: inline-block;
	 color: #cee4fd;
	 margin-left: 10px;
}
 .movie_card .info_section .movie_header .locandina {
	 position: relative;
	 float: left;
	 margin-right: 20px;
	 height: 120px;
	 box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
 .movie_card .info_section .movie_desc {
	 padding: 25px;
	 height: 50%;
}
 .movie_card .info_section .movie_desc .text {
	 color: #cfd6e1;
}
 .movie_card .info_section .movie_social {
	 height: 10%;
	 padding-left: 15px;
	 padding-bottom: 20px;
}
 .movie_card .info_section .movie_social ul {
	 list-style: none;
	 padding: 0;
}
 .movie_card .info_section .movie_social ul li {
	 display: inline-block;
	 color: rgba(255, 255, 255, 0.4);
	 transition: color 0.3s;
	 transition-delay: 0.15s;
	 margin: 0 10px;
}
 .movie_card .info_section .movie_social ul li:hover {
	 transition: color 0.3s;
	 color: rgba(255, 255, 255, 0.8);
}
 .movie_card .info_section .movie_social ul li i {
	 font-size: 19px;
	 cursor: pointer;
}
 .movie_card .blur_back {
	 position: absolute;
	 top: 0;
	 z-index: 1;
	 height: 100%;
	 right: 0;
	 background-size: cover;
	 border-radius: 11px;
}
 @media screen and (min-width: 768px) {
	 .movie_header {
		 width: 60%;
	}
	 .movie_desc {
		 width: 50%;
	}
	 .info_section {
		 background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
	}
	 .blur_back {
		 width: 80%;
		 background-position: -100% 10% !important;
	}
}
 @media screen and (max-width: 768px) {
	 .movie_card {
		 width: 95%;
		 margin: 70px auto;
		 min-height: 350px;
		 height: auto;
	}
	 .blur_back {
		 width: 100%;
		 background-position: 50% 50% !important;
	}
	 .movie_header {
		 width: 100%;
		 margin-top: 85px;
	}
	 .movie_desc {
		 width: 100%;
	}
	 .info_section {
		 background: linear-gradient(to top, #141413 50%, transparent 100%);
		 display: inline-grid;
	}
}
 #bright {
	 box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
}
 #bright:hover {
	 box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
}
 .bright_back {
	 background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}
 #tomb {
	 box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
}
 #tomb:hover {
	 box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
}
 .tomb_back {
	 background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png");
}
 #ave {
	 box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
	 margin-bottom: 200px;
}
 #ave:hover {
	 box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
}
 .ave_back {
	 background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
}

/* Animated Wave Background Style  */
/*  html, body {
    width: 100%;
    height: 100%;
}
body {
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%); 
    overflow: hidden;
}  */

.ocean {
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
        transform: translate3d(0,-25px,0);
    }
    50% {
        transform: translate3d(0,5px,0);
    }
}

/* Login Section Style */
* {
    box-sizing: border-box;
}

/* body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    margin-top: 20px;
} */

/* h1 {
    font-weight: bold;
    margin: 0;
} */

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #0e263d;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container1 {
    background: #fff;
    border-radius: 90px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    opacity: 100%;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    transition: 333ms;
}


.form-container1 form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding:  0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container1 {
    margin: 20px 0;
    display: block;
}


.social-container1 a {
    border: 1px solid #008ecf;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: 333ms;
}
.social-container1 a:hover {
    transform: rotateZ(13deg);
    border: 1px solid #0e263d;
}

.form-container1 input {
    background: #eee;
    border: none;
    border-radius: 50px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
.form-container1 input:hover {
    transform: scale(101%);
}

button {
    border-radius: 50px;
    box-shadow: 0 1px 1px ;
    border: 1px solid #008ecf;
    background: #008ecf;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.form-container1 {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all .6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
}

.overlay {
    /* background: #ff416c; */
   /*  background: linear-gradient(to right, #008ecf, #008ecf) no-repeat 0 0 / cover; */
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateY(0);
}

.overlay-left {
    transform: translateY(-20%);
}

/* Move signin to right */
.container1.right-panel-active .sign-in-container {
    transform: translateY(100%);
}

/* Move overlay to left */
.container1.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

/* Bring signup over signin */
.container1.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* Move overlay back to right */
.container1.right-panel-active .overlay {
    transform: translateX(50%);
}

/* Bring back the text to center */
.container1.right-panel-active .overlay-left {
    transform: translateY(0);
}

/* Same effect for right */
.container1.right-panel-active .overlay-right {
    transform: translateY(20%);
}

